<div id="home" class="game">
    <div class="game-heading-hightlight"></div>
    <div class="game-heading">
        Is it a Boy or Girl? Find out Chikatoo's Gender!
    </div>
    <div class="game-rules">
    Rules:
    <ul>
        <li>Words can be written in any way - horizontal, vertical, reverse-horizontal or reverse-vertical</li>
        <li>Find ALL instances of `BOY` and `GIRL` to know the gender of the baby</li>
    </ul>
    </div>
    <div class="game-section">
        <table class="text-center game-grid {{this.gameOverClass}}">
            {{#each this.game as |row rowIndex|}}
                <tr>
                    {{#each row as |item colIndex|}}
                        <GameCell @value={{item.value}} @isBoySelectable={{item.isBoySelectable}} @isGirlSelectable={{item.isGirlSelectable}} @selected={{item.selected}} @selectStart={{this.selectStart}} @selecting={{this.selecting}} @selectStop={{this.selectStop}} @row={{rowIndex}} @column={{colIndex}}/>
                    {{/each}}
                </tr>
            {{/each}}
        </table>
        {{#if this.gameOver}}
            <div class="victory">It's a BOY!</div>
        {{/if}}
    </div>
</div>

