<div id="home" class="game">
    <div class="game-heading-hightlight"></div>
    <div class="game-heading">
        Is it a Boy or Girl? Find out Chikatoo's Gender!
    </div>
    <div class="game-rules">
    Rules:
    <ul>
        <li>Tap on the letters of 'BOY' and 'GIRL' to select as you play</li>
        <li>Find ALL occurences of 'BOY' and 'GIRL' and count them. The highest will reveal the gender of the baby</li>
        <li>'BOY' and 'GIRL' can be written in any way - up-down, down-up, left-right or right-left</li>
    </ul>
    </div>
    <div class="game-section">
        <table class="text-center game-grid {{this.gameOverClass}}">
            {{#each this.game as |row rowIndex|}}
                <tr>
                    {{#each row as |item colIndex|}}
                        <GameCell @value={{item.value}} @isBoySelectable={{item.isBoySelectable}} @isGirlSelectable={{item.isGirlSelectable}} @selected={{item.selected}} @selectStart={{this.selectStart}} @selecting={{this.selecting}} @selectStop={{this.selectStop}} @row={{rowIndex}} @column={{colIndex}}/>
                    {{/each}}
                </tr>
            {{/each}}
        </table>
        {{#if this.gameOver}}
            <div class="victory">It's a BOY!</div>
        {{/if}}
    </div>
</div>

